{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CourtCentral{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_courts.css' %}">
    <link rel="stylesheet" href="{% static 'css/court_calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_reservation.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        {% include 'myApp/navbar.html' %}
    </header>
    <div class="container">
        <div class="row justify-content-center"> <!-- Center the row -->
            <main class="col-md-10 col-lg-8"> <!-- Adjust column width for centering -->
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
