/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #2C3E50;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Navbar Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 15px 20px;

}

/* Navbar Container */
.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Logo and Welcome Message */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-img {
    height: 80px;
    width: auto;
}

.navbar-welcome {
    flex: 1;
    text-align: left;
    margin-left: 1.5vw;
    padding-left: 5px; /* Reduce space between logo and text */
    color: #ECF0F1;
    font-size: 1.5rem;
    font-weight: 800;
}

/* Centered Navbar Links */
.navbar-links {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-links a {
    text-decoration: none;
    font-family: Roboto Condensed, sans-serif;
    color: #ff7f00;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #ffe7c2;
}

/* Logout Button */
.navbar-logout {
    flex: 1;
    text-align: right;
}

.navbar-logout a {
    text-decoration: none;
    color: #ECF0F1;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-logout a:hover {
    color: #f46060;
}

.navbar-logout .fa-sign-out-alt {
    margin-right: 5px;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .navbar-logo {
        justify-content: center;
    }
    .navbar-links {
        margin-top: 10px;
    }
}

/* Image Styling */
.cclogo {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Blog Post Styling */
.post-entry {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    transition: transform 0.2s ease;
}

.post-entry:hover {
    transform: translateY(-5px);
}

.post-entry h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2C3E50;
}

.post-entry p {
    color: #555;
    font-size: 16px;
}

/* Links Inside Posts */
.post-entry h2 a {
    text-decoration: none;
    color: #1ABC9C;
    transition: color 0.3s ease;
}

.post-entry h2 a:hover {
    color: #16a085;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 15px;
    background-color: #2C3E50;
    color: #ECF0F1;
    font-size: 14px;
}